CommomSystemFrameworksProjects/CommonUtilities.WebServiceHelper/Web References/WebService/MedivaService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="SetMedicalReport">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="json" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="RetJson">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Total" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="SetMedicalReportResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetMedicalReportResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SetMedicalReportSoapIn">
    <wsdl:part name="parameters" element="tns:SetMedicalReport" />
  </wsdl:message>
  <wsdl:message name="SetMedicalReportSoapOut">
    <wsdl:part name="parameters" element="tns:SetMedicalReportResponse" />
  </wsdl:message>
  <wsdl:portType name="MedivaServiceSoap">
    <wsdl:operation name="SetMedicalReport">
      <wsdl:input message="tns:SetMedicalReportSoapIn" />
      <wsdl:output message="tns:SetMedicalReportSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MedivaServiceSoap" type="tns:MedivaServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SetMedicalReport">
      <soap:operation soapAction="http://tempuri.org/SetMedicalReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MedivaServiceSoap12" type="tns:MedivaServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SetMedicalReport">
      <soap12:operation soapAction="http://tempuri.org/SetMedicalReport" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MedivaService">
    <wsdl:port name="MedivaServiceSoap" binding="tns:MedivaServiceSoap">
      <soap:address location="http://hwtest.xjjxzy.com:8000/Service/MedivaService.asmx" />
    </wsdl:port>
    <wsdl:port name="MedivaServiceSoap12" binding="tns:MedivaServiceSoap12">
      <soap12:address location="http://hwtest.xjjxzy.com:8000/Service/MedivaService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>